<br/>
<%= link_to "Single Player", games_playgame_path, class:"button is-info is-rounded" %>
<%= link_to home_about_path do %>
      <button class="button is-link is-rounded" disabled>Multi Player</button>
<% end %>  
<%= render 'games/usergames' %>
<%= render 'user_game_stats/leaderboards' %>