
<br/>
<%= link_to "Play Single Player", games_playgame_path, class:"button is-success is-rounded is-large" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= render 'multiplayer_games/multiplayer_button' %>
<div class="columns">
	<div class="column is-6">
		<%= render 'games/usergames' %>
	</div>
	<div class="column is-6">
		<%= render 'user_game_stats/leaderboards' %>
	</div>
</div>
<style type="text/css">
	:root {
      --background: rgb(247, 247, 247);
      --textDark: hsla(0, 0%, 0%, 0.66);
      --textLight: hsla(0, 0%, 0%, 0.33);
    }
    body {
      background: var(--background);
      min-height: 100vh;
      height: auto;
      color: var(--textDark);
    }
</style>