<br/>
<div class="columns center-align is-vcentered" id="canvases">
  <div class="column" id="canvas_div" style="display:none">
    <article class="scoreboard tile is-child notification is-success box">
      <p class="title">You: 1000</p>
      <p class="subtitle">cornball</p>
    </article>
    <canvas id="myCanvas" width="510" height="510">
	  </canvas>
  </div>
  <div class="column" id="op_canvas_div" style="display:none">
      <article class="scoreboard tile is-child notification is-danger box">
        <p class="title">Your Enemy: 1000</p>
        <p class="subtitle">squarebat</p>
      </article>
      <canvas id="opponentCanvas" width="510" height="510">
      </canvas>
  </div>
  <div style = "display:block;text-align:center" class="column" id="wait_msg">
      <p>Waiting for opponent... 
        <div class="lds-facebook">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </p>
  </div>
  <div  style = "display:none;text-align:center" class="column" id="timeout_msg">
      <p>We looked far and wide, but we could not find an opponent &#128549. </p>
      <p> But we have
      <% if user_signed_in? %>
        <%= link_to "single player mode", games_playgame_path%>
      <% else %>
        <%= link_to "single player mode", "/"%> 
      <% end %>!
      </p>
  </div>
</div>

<%= javascript_pack_tag 'multiplayerrace', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'packchannels', 'data-turbolinks-track': 'reload' %>