<br/>
<div id = "canvases" class="columns">
  <div class="column" id="canvas_div" style="display:none">
    <canvas id="myCanvas" width="510" height="510">
	  </canvas>
  </div>
  <div class="column" id="op_canvas_div" style="display:none">
      <canvas id="opponentCanvas" width="510" height="510">
      </canvas>
  </div>
</div>
<div id="wait_msg" style="display:block" class="column">
      <p>Waiting for opponent...</p>
</div>
<div id="timeout_msg" style="display:none" class="column">
    <p>We looked far and wide, but we could not find an opponent &#128549. </p>
    <p> But we have
    <% if user_signed_in? %>
      <%= link_to "single player mode", games_playgame_path%>
    <% else %>
      <%= link_to "single player mode", "/"%> 
    <% end %>!
    </p>
</div>
<style type="text/css">
	:root {
      --background: rgb(247, 247, 247);
      --textDark: hsla(0, 0%, 0%, 0.66);
      --textLight: hsla(0, 0%, 0%, 0.33);
    }
    body {
      background: var(--background);
      height: auto;
      min-height: 100vh;
      color: var(--textDark);
    }
</style>
<%= javascript_pack_tag 'multiplayerrace', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'packchannels', 'data-turbolinks-track': 'reload' %>
