$dark-purple: #560A86; 
$light-purple: #FFACFC;
$purple: #F148FB;
$blue-purple: #7122FA;
$primary: $dark-purple; 
//$link: #FFE400;
//$info: #F1485B;   //purple
//$success:#14A76C; //green
//$warning: ;
//$danger: red;
//$dark: #272727;
//$grey: #747474;
//$background: $dark;
//$input-background-color: $dark;
//$input-color: $primary;    
@import '../../bulma/bulma';
@import '_layout';