$dark-purple: #560A86; 
$light-purple: #FFACFC;
$purple: #F148FB;
$blue-purple: #7122FA;
$primary: $dark-purple; 
@import '../../bulma/bulma';
@import '_layout';
@import 'home';
@import 'multi_player_game';
@import 'games';
@import 'user_game_stats';